* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Mukta', sans-serif;
}

h1{
    font-family: 'Koulen', cursive;
    letter-spacing: 3px;
    text-shadow:5px 5px 3px #ac671dcf;
}

div#name{
    margin-left: 5em;
}	

section#personalInfo h2{
    font-family: 'Koulen', cursive;
}

div#icones{
    margin-left: 35px;
}

section#personalInfo{
    text-align:center;
}

section#personalInfo div{
	margin-bottom: 2em;
}

div#hobbies div{
	margin-left: 38px;
}

section#MBid h2{
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

h2{
	margin-top:20px;
	margin-bottom:6px;
}

h3{
	font-size:xx-large;
	margin:3px;
}

h4{
	font-size:x-large;
	margin-top:15px;
	margin-bottom:0px;
}

div#leftSide{
	width:70%;
}

section#MBid div#me{
	margin-left: 22px;
	margin-bottom: 35px;
	margin-right: 22px;
}

section#MBid figure img{
	margin:5px;
}

section#MBid figure img#lIn{
	width:20%;
}

section#MBid figure.iconeInfoMe img{
	width:85%;
	margin-left: 20px;
}

section#MBid figure.iconeInfo img{
	width:10%;
}

section#MBid figure.iconeInfo a{
	color:inherit;
	text-decoration: none;
	padding-right:3px;
}

section#MBid figure.iconeInfo a div{
	width:8%;
}

section#MBid figure.iconeInfo a img{
	width:8%;
	margin-left:-18px;
}

section#MBid figure.iconeInfoLin a{
	color:inherit;
	text-decoration: none;
	margin-left: 5em;
}

section#MBid figure{
	display: flex;
    align-items: center;
}

section#MBid figcaption{
	width:80%;
	margin-left:10px;
}

section#MBid figcaption#mail{
	width:80%;
	margin-left:-10px;
}

/*article langues*/
article#langues{
	margin :32px;
}


/*article qualites*/
article#qualites{
	margin :32px;
}

/*article loisirs*/
article#loisirs{
	margin:32px;
}

article#loisirs figure.icone{
	margin-left:75px;
	margin-bottom: 20px;
}

article#loisirs figure.icone img{
	width:23%;
}

article#loisirs figure{
	display: flex;
    align-items: center;
}

article#loisirs figcaption{
	margin: 15px;
}


@media screen and (max-width: 1347px) {
    *{
        box-sizing: content-box;
    }
    
    body{
    flex-direction: column;
    }
    
    div#icones{
    float:left; 
    }    

    div#leftSide{
        width: 85%;
        margin-top: 3em;
        margin-left: 4.2em; 
    }

    div#leftSide section#MBid{
        column-count:2;
        break-inside:avoid;
    }

    section#MBid figure.iconeInfo img {
        width: 5%;
    }

    section#MBid figure img#lIn {
        width: 7%;
    }

    div#leftSide section#personalInfo{
        column-count:2;
        break-inside:avoid;
    }

    article#loisirs figure.icone img {
        width: 10%;
    }
      
    article#loisirs div#hobbies{
        padding-top : 50px;
    }
}

@media screen and (max-width : 811px){
	
	section#MBid  figure.iconeInfoMe img{
		width:155%;
		margin-left: 0px;
		margin-right: 40px;
	}

    section#MBid  figure.iconeInfo img{
		width:10%;
	}

    article#loisirs figure.icone img{
		margin-left:-63px;
		width:50%;
	}

    section#MBid figure.iconeInfo a img{
		width:15%;
	}
	
	section#MBid figure img#lIn{
		width:30%;
	}
}

@media screen and (max-width: 500px)  {
	div#name{
		margin-left:3em;
	}
	
	section#MBid  figure.iconeInfoMe img{
		width:155%;
		margin-left: 0px;
		margin-right: 40px;
	}
	section#MBid  figure.iconeInfo img{
		width:10%;
	}

    article#loisirs figure.icone img{
		margin-left:-63px;
		width:280%;
	}
    
	section#MBid figure.iconeInfo a img{
		width:15%;
	}
	
	section#MBid figure img#lIn{
		width:30%;
	}
}